.comunity-container{
    margin-left: 10px;
}
.comunity-comu-title{
    margin-bottom: 20px;
}
.comunity-comu-title-1{
    color: #EAD8C0;
}
.comunity-comu-title-2{
    font-size: 30px;
}
.comunity-comu-title-1,
.comunity-comu-title-2 {
    margin: 0; /* 위아래 여백 제거 */
}
.comunuty-comu-row {
    display: flex;
}

.comunuty-comu-1,
.comunuty-comu-2,
.comunuty-comu-3 {
    flex: 0 0 calc(33.33% - 30px); /* 3개의 요소가 컨테이너의 너비를 동등하게 나눠 가지며 간격을 고려합니다 */
    margin-right: 10px;
    border: 1px solid lightgray;
}
.comunuty-comu-2{
    background-color: #D1BB9E;
}
/* 마지막 요소의 오른쪽 마진 제거 */
.comunuty-comu-3 {
    margin-right: 0;
}